{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ 'library.books.title'|trans({}, 'main') }}</h2>

    <a href="{{ path('new_book') }}">{{ 'library.books.new'|trans({}, 'main') }}</a>

    <div class="section">
        <table class="bordered stripped">
            {% for book in books %}
                <tr>
                    <td>{{ book.name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ 'library.books.not_found'|trans({}, 'main') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}