{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ 'library.books.title'|trans({}, 'main') }}</h2>

    <a href="{{ path('new_book') }}">{{ 'library.books.new'|trans({}, 'main') }}</a>

    <div class="section">
        <div class="row">
            {% for book in books %}
                <div class="col s12 m6">
                    <div class="card horizontal">
                        {% if book.cover %}
                            <div class="card-image">
                                <img src="{{ covers_upload_dir }}/{{ book.cover }}">
                            </div>
                        {% endif %}
                        <div class="card-stacked">
                            <div class="card-content">
                                <div>
                                    <b>{{ book.name }}</b>
                                    <span class="right">
                                        {% for author in book.authors %}
                                            <div class="chip">
                                                {{ author.name }}
                                            </div>
                                        {% endfor %}
                                    </span>
                                </div>
                                <div class="ret">{{ 'library.books.read'|trans({}, 'main') }} {{ book.dateread|date('d.m.Y') }}</div>
                            </div>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") or (book.allowdownload and book.file) %}
                                <div class="card-action">
                                    {% if book.allowdownload and book.file %}
                                        <a href="{{ books_upload_dir }}/{{ book.file }}" target="_blank">{{ 'download'|trans({}, 'main') }}</a>
                                    {% endif %}
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <a class="right" href="{{ path('edit_book', {'id':book.id}) }}">{{ 'edit'|trans({}, 'main') }}</a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                {{ 'library.books.not_found'|trans({}, 'main') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .chip{
            margin-left: 10px;
        }
        .card-image{
            object-fit: cover;
        }
        .card-image img{
            height: 200px;
        }
    </style>
{% endblock %}